{% extends 'base.html.twig' %}

{% block title %}Accueil / CodeSculpt{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <h2>Liste des Publications :</h2>
    <ul>
        {% for post in posts %}
            <li>{{ post.content }}</li>
            <p>Publié le {{ post.date|date('d/m/Y H:i') }} par {{ post.user.username }}</p> {# Récupérez le nom d'utilisateur de l'auteur du post #}
        {% endfor %}
    </ul>
{% endblock %}
