{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle publication{% endblock %}

{% block body %}
    <h1>Créer une nouvelle publication</h1>

    {{ form_start(form) }}
    {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}

    <button type="submit" class="btn btn-primary">Publier</button>
    {{ form_end(form) }}
{% endblock %}
